[project]
name = "Ribasim"
version = "2024.10.0"
description = "Water resources modeling"
authors = ["Deltares and contributors <ribasim.info@deltares.nl>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64"]
readme = "README.md"
license = "MIT"
license-file = "LICENSE"
homepage = "https://ribasim.org/"
documentation = "https://ribasim.org/"
repository = "https://github.com/Deltares/Ribasim"

[tasks]
# Tests
test-ribasim-python = "pytest --numprocesses=4 -m 'not regression' python/ribasim/tests"
test-ribasim-python-cov = "pytest --numprocesses=4 --cov=ribasim --cov-report=xml -m 'not regression' python/ribasim/tests"
test-ribasim-api = "pytest --basetemp=python/ribasim_api/tests/temp --junitxml=report.xml python/ribasim_api/tests"

[feature.dev.tasks]
# Installation
install-julia = "juliaup add 1.10.5 && juliaup override unset && juliaup override set 1.10.5"
install-pre-commit = "pre-commit install"
# Note that this has a Windows specific override
install-ci = { depends_on = ["install-julia", "update-registry-julia"] }
install = { depends_on = [
    "install-ci",
    "install-qgis-plugins",
    "install-pre-commit",
] }
# Julia
update-registry-julia = "julia --eval='using Pkg; Registry.update()'"
update-manifest-julia = "julia --project --eval='using Pkg; Pkg.update()'"
instantiate-julia = { cmd = "julia --project --eval='using Pkg; Pkg.instantiate()'", env = { JULIA_SSL_CA_ROOTS_PATH = "" } }
initialize-julia = { depends_on = [
    "update-registry-julia",
    "instantiate-julia",
] }
# Docs
build-julia-docs = { cmd = "julia --project docs/make.jl", depends_on = [
    "initialize-julia",
], inputs = [
    "core",
    "docs/make.jl",
], outputs = [
    "docs/build",
] }
quartodoc-build = { cmd = "quartodoc build && rm objects.json", cwd = "docs", inputs = [
    "docs/_quarto.yml",
    "python/ribasim",
], outputs = [
    "docs/reference/python",
] }
quarto-preview = { cmd = "quarto preview docs", depends_on = [
    "quartodoc-build",
    "generate-testmodels",
] }
quarto-check = { cmd = "quarto check all", depends_on = ["quartodoc-build"] }
quarto-render = { cmd = "julia --project --eval 'using Pkg; Pkg.build(\"IJulia\")' && quarto render docs --to html --execute", depends_on = [
    "quartodoc-build",
    "generate-testmodels",
] }
docs = { depends_on = ["build-julia-docs", "quarto-preview"] }
# Lint
mypy-ribasim-python = "mypy python/ribasim/ribasim"
mypy-ribasim-testmodels = "mypy python/ribasim_testmodels/ribasim_testmodels"
mypy-ribasim-api = "mypy python/ribasim_api/ribasim_api"
pre-commit = "pre-commit run --all-files"
lint = { depends_on = [
    "pre-commit",
    "mypy-ribasim-python",
    "mypy-ribasim-testmodels",
    "mypy-ribasim-api",
    "mypy-ribasim-qgis",
] }
# Build
build = { "cmd" = "julia --project build.jl", cwd = "build", depends_on = [
    "generate-testmodels",
    "initialize-julia",
], env = { JULIA_SSL_CA_ROOTS_PATH = "" } }
remove-artifacts = "julia --eval 'rm(joinpath(Base.DEPOT_PATH[1], \"artifacts\"), force=true, recursive=true)'"
# Tests
test-ribasim-cli = "pytest --numprocesses=4 --basetemp=build/tests/temp --junitxml=report.xml build/tests"
test-ribasim-core = { cmd = "julia --project=core --eval 'using Pkg; Pkg.test()'", depends_on = [
    "generate-testmodels",
] }
test-ribasim-migration = { cmd = "pytest --numprocesses=4 -m regression python/ribasim/tests" }
test-ribasim-core-cov = { cmd = "julia --project=core --eval 'using Pkg; Pkg.test(coverage=true, julia_args=[\"--check-bounds=yes\"])'", depends_on = [
    "generate-testmodels",
] }
test-ribasim-regression = { cmd = "julia --project=core --eval 'using Pkg; Pkg.test(julia_args=[\"--check-bounds=yes\"], test_args=[\"regression\"])'", depends_on = [
    "generate-testmodels",
    "test-ribasim-migration",
] }
generate-testmodels = { cmd = "python utils/generate-testmodels.py", inputs = [
    "python/ribasim",
    "python/ribasim_testmodels",
], outputs = [
    "generated_testmodels",
] }
tests = { depends_on = ["lint", "test-ribasim-python", "test-ribasim-core"] }
delwaq = { cmd = "pytest python/ribasim/tests/test_delwaq.py" }
model-integration-test = { cmd = "julia --project=core --eval 'using Pkg; Pkg.test(test_args=[\"integration\"])'" }
# Codegen
codegen = { cmd = "julia --project utils/gen_python.jl && ruff format python/ribasim/ribasim/schemas.py python/ribasim/ribasim/validation.py", depends_on = [
    "initialize-julia",
], inputs = [
    "core",
], outputs = [
    "python/ribasim/ribasim/schemas.py",
    "python/ribasim/ribasim/validation.py",
] }
# Publish
add-ribasim-icon = { cmd = "rcedit build/ribasim/ribasim.exe --set-icon docs/assets/ribasim.ico" }
build-ribasim-python-wheel = { cmd = "rm --recursive --force dist && python -m build && twine check dist/*", cwd = "python/ribasim" }
build-ribasim-api-wheel = { cmd = "rm --recursive --force dist && python -m build && twine check dist/*", cwd = "python/ribasim_api" }
build-wheels = { depends_on = [
    "build-ribasim-python-wheel",
    "build-ribasim-api-wheel",
] }
publish-ribasim-python = { cmd = "twine upload dist/*", cwd = "python/ribasim", depends_on = [
    "build-ribasim-python-wheel",
] }
publish-ribasim-api = { cmd = "twine upload dist/*", cwd = "python/ribasim_api", depends_on = [
    "build-ribasim-api-wheel",
] }
# QGIS
qgis = "qgis --profiles-path .pixi/qgis_env"
install-ribasim-qgis = "python ribasim_qgis/scripts/install_ribasim_qgis.py"
install-imod-qgis = "python ribasim_qgis/scripts/install_qgis_plugin.py iMOD && python ribasim_qgis/scripts/enable_plugin.py imodqgis"
install-plugin-reloader-qgis = "python ribasim_qgis/scripts/install_qgis_plugin.py \"Plugin Reloader\" && python ribasim_qgis/scripts/enable_plugin.py plugin_reloader"
install-debugvs-qgis = "python ribasim_qgis/scripts/install_qgis_plugin.py debugvs==0.7 && python ribasim_qgis/scripts/enable_plugin.py debug_vs"
test-ribasim-qgis-docker = { cmd = "sh ./start.sh; sh ./test.sh; sh ./stop.sh", cwd = ".docker" }
install-qgis-plugins = { depends_on = [
    "install-plugin-reloader-qgis",
    "install-ribasim-qgis",
    "install-imod-qgis",
    "install-debugvs-qgis",
] }
test-ribasim-qgis-ui = { cmd = "python ribasim_qgis/scripts/run_qgis_ui_tests.py", depends_on = [
    "install-ribasim-qgis",
] }
test-ribasim-qgis = { cmd = "pytest --numprocesses=auto ribasim_qgis/tests/core", depends_on = [
    "install-ribasim-qgis",
] }
test-ribasim-qgis-cov = { cmd = "pytest --numprocesses=auto --cov=ribasim_qgis --cov-report=xml --cov-config=ribasim_qgis/.coveragerc ribasim_qgis/tests/core", depends_on = [
    "install-ribasim-qgis",
] }
mypy-ribasim-qgis = "mypy ribasim_qgis"
# Run
ribasim-core = { cmd = "julia --project=core -e 'using Ribasim; Ribasim.main(ARGS)'", depends_on = [
    "initialize-julia",
] }
ribasim-core-testmodels = { cmd = "julia --project --threads=4 utils/testmodelrun.jl", depends_on = [
    "generate-testmodels",
    "initialize-julia",
] }
# Release
github-release = "python utils/github-release.py"

[feature.dev.target.win.tasks]
# Workaround rare issue on Windows where the permissions of the artifacts directory are incorrect
# Upstream issue: https://github.com/JuliaLang/julia/issues/52272
reset-artifact-permissions = "icacls $homedrive/$homepath/.julia/artifacts /q /c /t /reset"
install-ci = { depends_on = [
    "reset-artifact-permissions",
    "install-julia",
    "update-registry-julia",
] }

[dependencies]
geopandas = "*"
hatchling = "*"
ipykernel = ">=6.29"
ipywidgets = ">=8.1.3,<8.2"
jinja2 = "*"
matplotlib = "*"
minio = "*"
netCDF4 = "*"
networkx = ">=3.3"
numpy = "*"
pandas = "*"
pandas-stubs = "*"
pandera = ">=0.20"
pip = "*"
pyarrow = "*"
pydantic = ">=2"
pyogrio = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
python = ">=3.10"
shapely = ">=2.0"
tomli = "*"
tomli-w = "*"
xarray = "*"
xmipy = "*"
xugrid = "*"

[pypi-dependencies]
ribasim = { path = "python/ribasim", editable = true }
ribasim_api = { path = "python/ribasim_api", editable = true }
ribasim_testmodels = { path = "python/ribasim_testmodels", editable = true }

[feature.dev.dependencies]
gh = "*"
juliaup = "*"
jupyterlab = "*"
libgdal-arrow-parquet = "*"
mypy = "*"
pre-commit = "*"
pyqt-stubs = "*"
qgis = ">=3.34"
qgis-plugin-manager = "*"
quarto = "*"
quartodoc = "*"
ruff = "*"
rust = "*"
twine = "*"

[feature.dev.pypi-dependencies]
ptvsd = "*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py310.dependencies]
python = "3.10.*"

[target.win-64.dependencies]
rcedit = "*"

[environments]
default = { features = ["py312"], solve-group = "py312" }
dev = { features = ["py312", "dev"], solve-group = "py312" }
py312 = { features = ["py312"], solve-group = "py312" }
py311 = ["py311"]
py310 = ["py310"]

[system-requirements]
linux = "3.10.0"
