[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[project]
name = "ribasim"
description = "Pre- and post-process Ribasim"
readme = "README.md"
authors = [
    { name = "Huite Bootsma", email = "Huite.Bootsma@deltares.nl" },
    { name = "Julian Hofer", email = "Julian.Hofer@deltares.nl" },
    { name = "Martijn Visser", email = "Martijn.Visser@deltares.nl" },
]
license = { text = "MIT" }
classifiers = [
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
]
requires-python = ">=3.9"
dependencies = [
    "geopandas",
    "matplotlib",
    "pandas",
    "pandera",
    "pyarrow",
    "pydantic",
    "pyogrio",
    "shapely >= 2.0",
    "tomli",
    "tomli-w",
]
dynamic = ["version"]

[project.optional-dependencies]
tests = ["pytest", "pytest-cov"]

[tool.setuptools]
zip-safe = true

[tool.setuptools.dynamic]
version = { attr = "ribasim.__version__" }

[tool.setuptools.packages.find]
include = ["ribasim"]

[tool.setuptools.package-data]
"ribasim" = ["py.typed"]

[project.urls]
Documentation = "https://deltares.github.io/Ribasim"
Source = "https://github.com/Deltares/Ribasim"
