name: Julia Run Testmodels
on:
  push:
    branches: [main]
    paths: ["core/**", "python/**", "pixi.toml", "pixi.lock", "Project.toml", "Manifest.toml"]
    tags: ["*"]
  pull_request:
    paths: ["core/**", "python/**", "pixi.toml", "pixi.lock", "Project.toml", "Manifest.toml"]
  merge_group:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read
jobs:
  test:
    name: Julia ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # https://github.com/Deltares/Ribasim/issues/825
          # - macOS-latest
          - windows-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/cache@v2
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Prepare pixi
        run: pixi run install-ci
      - name: Run testmodels with Ribasim Core
        run: |
          pixi run ribasim-core-testmodels
        env:
          JULIA_NUM_THREADS: 4
