name: Docs
on:
  push:
    branches: [main]
    paths-ignore: [".teamcity/**"]
  pull_request:
jobs:
  publish:
    name: Docs Julia ${{ matrix.julia_version }} - Python ${{ matrix.python_version }}  - ${{ matrix.arch }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        julia_version:
          - "1.8"
        python_version:
          - "3.11"
        arch:
          - x64
    steps:
      - uses: actions/checkout@v3

      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia_version }}
          arch: ${{ matrix.arch }}

      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: core

      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-

      - name: Setup Micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          python_version: ${{ matrix.python_version }}
          cache-downloads: true
          cache-env: true
          environment-file: ./python/environment.yml

      - name: Install ribasim-python
        working-directory: python
        run: pip install -e .

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Check Quarto installation and all engines
        run: quarto check all

      - name: Generate API pages
        working-directory: docs
        # objects.json: https://github.com/machow/quartodoc/issues/63
        run: |
          python -m quartodoc build
          rm objects.json

      - name: Render Quarto Project
        run: "quarto render docs --to html --execute"

      - name: Publish Quarto Project
        if: github.event_name != 'pull_request'
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          path: docs
          render: false
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
