name: Mypy Type Check
on:
  push:
    branches: [main]
    paths: ["ribasim_qgis/**", "python/**", "pixi.toml", "pixi.lock"]
    tags: ["*"]
  pull_request:
    paths: ["ribasim_qgis/**", "python/**", "pixi.toml", "pixi.lock"]
  merge_group:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  mypy:
    name: Mypy
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Run mypy on python/ribasim
        run: |
          pixi run mypy-ribasim-python
      - name: Run mypy on python/ribasim_testmodels
        run: |
          pixi run mypy-ribasim-testmodels
      - name: Run mypy on python/ribasim_api
        run: |
          pixi run mypy-ribasim-api
      - name: Run mypy on ribasim_qgis
        run: |
          pixi run mypy-ribasim-qgis
