name: Pre-commit auto update
on:
  schedule:
    # At 03:00 on day 3 of the month
    - cron: "0 3 3 * *"
  # on demand
  workflow_dispatch:
jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Update pre-commit hooks
        run: |
          pixi run pre-commit-autoupdate
      - name: Run pre-commit on all files
        run: |
          pixi run pre-commit
        continue-on-error: true
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.CI_PR_PAT }}
          branch: update/pre-commit
          title: Update pre-commit hooks
          commit-message: "Update pre-commit hooks"
          author: "GitHub <noreply@github.com>"
