name: Prek auto update
on:
  schedule:
    # At 03:00 on day 3 of the month
    - cron: "0 3 3 * *"
  # on demand
  workflow_dispatch:
jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: "latest"
      - name: Update prek hooks
        run: pixi run prek autoupdate
      - name: Run prek on all files
        run: pixi run prek
        continue-on-error: true
      - uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.CI_PR_PAT }}
          branch: update/prek
          title: Update prek hooks
          commit-message: "Update prek hooks"
          author: "GitHub <noreply@github.com>"
