name: Python Codegen
on:
  push:
    branches: [main]
    paths: ["core/**", "python/**", "pixi.toml", "pixi.lock"]
    tags: ["*"]
  pull_request:
    paths: ["core/**", "python/**", "pixi.toml", "pixi.lock"]
  merge_group:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  codegen:
    name: Codegen
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "latest"
      - name: Prepare pixi
        run: pixi run install-ci
      - name: Test if codegen runs without errors
        run: pixi run codegen
      - name: Ensure that no code has been generated
        run: git diff --exit-code
