name: QGIS Tests

on:
    push:
      branches: [main]
      paths-ignore: [".teamcity/**"]
      tags: ["*"]
    pull_request:
      paths-ignore: [".teamcity/**"]
    merge_group:
jobs:
    test-qgis:
        name: "Test"
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: .docker
        steps:
          - uses: actions/checkout@v4
          - uses: prefix-dev/setup-pixi@v0.8.1
            with:
              pixi-version: "latest"
          - name: Run tests
            run: pixi run test-ribasim-qgis-docker
          - name: Upload coverage to Codecov
            uses: codecov/codecov-action@v4
            with:
              token: ${{ secrets.CODECOV_TOKEN }}
